/*------------------------------------*\
    #GRID-CONFIG
\*------------------------------------*/

/**
 * Max width of the containing element.
 */
$grid-width: 1366px !default;

/**
 * Spacing between grid elements.
 */
$grid-gutter-width:       20px !default;
$grid-gutter-width-small: 20px !default;

/**
 * Total number of columns we want in our grid.
 */
$grid-columns: 12 !default;

/**
 * Breakpoints
 */
$breakpoint-small:  320px !default;
$breakpoint-medium: 700px !default;
$breakpoint-large:  960px !default;

$breakpoint-small-max:  $breakpoint-medium - 1;
$breakpoint-medium-max: $breakpoint-large - 1;
