/*------------------------------------*\
    #GRID-MIXINS
\*------------------------------------*/
/**
 * Mixins for the `.grid` lib.
 */



/*------------------------------------*\
    #GRID-MEDIA-QUERIES
\*------------------------------------*/

@mixin screen-bigger-than($width) {
    @media screen and (min-width: $width) {
        @content;
    }
}

@mixin screen-smaller-than($width) {
    @media screen and (max-width: $width) {
        @content;
    }
}

@mixin screen-between($min, $max) {
    @media screen and (min-width: $min) and (max-width: $max - 1) {
        @content;
    }
}



/*------------------------------------*\
    #GRID-ELEMENT
\*------------------------------------*/
/**
 * Grid related mixins. Used in _grid.scss.
 */

@mixin grid-container {
    @include clearfix;

    box-sizing: border-box;
    max-width: $grid-width;
    padding-left: $grid-gutter-width;
    padding-right: $grid-gutter-width;
    margin: 0 auto;
}

@mixin grid-row {
    @include clearfix;

    box-sizing: border-box;
    margin-left: ($grid-gutter-width / -2);
    margin-right: ($grid-gutter-width / -2);
}

@mixin grid-col {
    box-sizing: border-box;
    float: left;
    min-height: 1px;
    padding-left: ($grid-gutter-width / 2);
    padding-right: ($grid-gutter-width / 2);
    position: relative;
}

@mixin grid-span($cols) {
    width: percentage(($cols / $grid-columns));
}

@mixin grid-offset($cols) {
    margin-left: percentage(($cols / $grid-columns));
}
